<div class="container text-center mt-2 mb-3">
    <h1>Massothérpie Thérapeutique</h1>
    <h1>Ezra Stolow</h1>
</div>

<div class="container text-center">
    <img src="<%= asset_path 'ezra-selfie.jpg' %>" alt="Ezra Stolow">
</div>